.h-20px{
    height: 20px;
}
.h-25px{
    height: 25px;
}
.h-40px{
    height: 40px;
}
.h-60px{
    height: 60px;
}
.h-66px{
    height: 66px;
}
.h-80px{
    height: 80px;
}
.h-100px{
    height: 100px;
}
.h-120px{
    height: 120px;
}
.h-150px{
    height: 150px;
}
.h-200px{
    height:200px;
}
.font-size-2{
    font-size: .5rem;
}
.font-size-3{
    font-size: 1rem;
}
.font-size-4{
    font-size: 1.5rem;
}
.font-size-5{
    font-size: 3rem;
}
.ov-hidden{
    overflow: hidden;
}
.cursor-pointer{
    cursor: pointer
}