.articleNav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;

}
.contentNav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 240px;
}
.contentNav .list-unstyled p{
    width: 100%;
    display: block;
}
.article-content{
    margin-left: 440px;

}
.content-btn{
    border-bottom: 1px solid #1d2124;
}
/*文章编辑*/
#makdownNav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

}
#makdownEditDiv{
    position: fixed;
    top: 40px;
    left: 0px;
    width: 50%;
    bottom: 0px;
    overflow-y: auto;
}
#result{
    position: fixed;
    top: 40px;
    right: 0px;
    width: 50%;
    bottom: 0px;
    overflow-y: auto;
}