.h-60px{
    height: 60px;
}
.h-66px{
    height: 66px;
}
.h-80px{
    height: 80px;
}
.h-100px{
    height: 100px;
}
.h-120px{
    height: 120px;
}
.h-150px{
    height: 150px;
}
.h-200px{
    height:200px;
}
.ov-hidden{
    overflow: hidden;
}
.cursor-pointer{
    cursor: pointer
}