<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<div th:replace="web/shareHtml/shareHead"></div>
	<title>文章评论</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<ul class="list-unstyled">
				<li class="media">
					<img class="mr-3 rounded-circle customer-img" src="/assets/images/avatars/avatar-1.png" alt="user avatar"/>
					<div class="media-body">
						<h6 class="mt-0 mb-1">用户111111111</h6>
						<p class="text-black-50 mb-1"><small>21楼 2019-01-12 12:59:00</small></p>
						<p>
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec lacinia congue felis in faucibus.
						</p>
						<div>
									<span class="cursor-pointer">
										<i aria-hidden="true" class="fa fa-thumbs-up"></i>&nbsp;1212
									</span>
							<a href="#" class="ml-2">回复</a>
						</div>
						<ul class="list-unstyled  border-left pl-4">
							<li class="media mt-3">
								<!--<img class="mr-3 rounded-circle customer-img" src="assets/images/avatars/avatar-1.png" alt="user avatar"/>-->
								<div class="media-body">
									<!--<h6 class="mt-0 mb-1">用户111111111</h6>-->
									<!--<p class="text-black-50 mb-1"><small>21楼 2019-01-12 12:59:00</small></p>-->
									<p class="mb-1">
										<span class="text-primary">哈哈哈：</span><span class="text-primary">@呵呵呵呵</span>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec lacinia congue felis in faucibus.
									</p>
									<div>
										<span class="text-black-50">2019-01-12 12:59:00</span>
										<a href="#" class="ml-2">回复</a>
									</div>
								</div>
							</li>
							<li class="media mt-3">
								<!--<img class="mr-3 rounded-circle customer-img" src="assets/images/avatars/avatar-1.png" alt="user avatar"/>-->
								<div class="media-body">
									<!--<h6 class="mt-0 mb-1">用户111111111</h6>-->
									<!--<p class="text-black-50 mb-1"><small>21楼 2019-01-12 12:59:00</small></p>-->
									<p class="mb-1">
										<span class="text-primary">哈哈哈：</span><span class="text-primary">@呵呵呵呵</span>
										Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec lacinia congue felis in faucibus.
									</p>
									<div>
										<span class="text-black-50">2019-01-12 12:59:00</span>
										<a href="#" class="ml-2">回复</a>
									</div>
								</div>
							</li>
							<li class="media mt-3">
								<!--<img class="mr-3 rounded-circle customer-img" src="assets/images/avatars/avatar-1.png" alt="user avatar"/>-->
								<div class="media-body">
									<div class="cursor-pointer">
										<i aria-hidden="true" class="fa fa-edit"></i>&nbsp; 添加新评论
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="media my-4">
					<img class="mr-3 rounded-circle customer-img" src="/assets/images/avatars/avatar-2.png" alt="user avatar"/>
					<div class="media-body">
						<h6 class="mt-0 mb-1">用户111111111</h6>
						<p class="text-black-50"><small>21楼 2019-01-12 12:59:00</small></p>
						<p>
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Donec lacinia congue felis in faucibus.
						</p>
						<div>
									<span class="cursor-pointer">
										<i aria-hidden="true" class="fa fa-thumbs-o-up"></i>&nbsp;1212
									</span>
							<a href="#" class="ml-2">回复</a>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>

</div>


<div th:replace="web/shareHtml/shareFoot"></div>
<script src="/web/js/author/articleReview.js"></script>
</body>
</html>