<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<div th:replace="web/shareHtml/shareHead"></div>
	<title>文章内容</title>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="col-12">
		<h1>富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本</h1>
		<p>富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本
			富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本富文本</p>
	</div>
</div>

</div>


<div th:replace="web/shareHtml/shareFoot"></div>
<script src="/web/js/author/articleContent.js"></script>

</body>
</html>