<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <div th:replace="web/shareHtml/shareHead"></div>
    <link href="/assets/prism/prism.css" rel="stylesheet" />
    <title>markdown</title>
</head>
<body>
<main class=" " id="wrapper">
    <div class="container-fluid">
        <div id="makdownNav" class="row bg-dark  pt-1 h-40px">
            <div class="col-6">
                <div class="form-inline pl-4">
                    <a class="text-white-50 p-2 font-size-3  " id="setBold" href="javascript:void(0)" title="粗体">
                        <i aria-hidden="true" class="fa fa-bold"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  mr-5" id="setItalic" href="javascript:void(0)" title="斜体">
                        <i aria-hidden="true" class="fa fa-italic"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setLink" href="javascript:void(0)" title="链接">
                        <i aria-hidden="true" class="fa fa-chain"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setQuote" href="javascript:void(0)" title="引用">
                        <i aria-hidden="true" class="fa fa-quote-left"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setCode" href="javascript:void(0)" title="代码">
                        <i aria-hidden="true" class="fa fa-code"></i>
                    </a>
                    <a class="text-success p-2 font-size-3 mr-5" id="setImage" href="javascript:void(0)" title="图片">
                        <i aria-hidden="true" class="fa fa-image"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setListOl" href="javascript:void(0)" title="有序列表">
                        <i aria-hidden="true" class="fa fa-list-ol"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setListUl" href="javascript:void(0)" title="无序列表">
                        <i aria-hidden="true" class="fa fa-list-ul"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="setTitle" href="javascript:void(0)" title="标题">
                        <i aria-hidden="true" class="fa fa-list-alt"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  mr-5" id="setDividingLine" href="javascript:void(0)" title="分割线">
                        <i aria-hidden="true" class="fa fa-minus"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="btnReply" href="javascript:void(0)" title="撤销">
                        <i aria-hidden="true" class="fa fa-reply"></i>
                    </a>
                    <a class="text-white-50 p-2 font-size-3  " id="btnRedo" href="javascript:void(0)" title="重做">
                        <i aria-hidden="true" class="fa fa-share"></i>
                    </a>
                </div>
            </div>
            <div class="col-6 text-right pt-1">
                <a class="text-success p-2 font-size-3  " href="javascript:void(0)">
                    <small>发布</small>
                </a>
                <a class="text-success p-2 font-size-3  " href="javascript:void(0)">
                    <small>
                        发布到首页
                    </small>
                </a>
                <a class="text-success p-2 font-size-3  " href="javascript:void(0)">
                    <small>
                        储存为草稿
                    </small>
                </a>
                <a class="text-white-50 p-2 font-size-3  " href="/article/manage">
                    <small>
                        返回
                    </small>
                </a>
            </div>
        </div>
        <div class="row p-0">
            <div class="col-6 bg-white" id="makdownEditDiv" >
                <textarea class="w-100 border-0 pt-3" id="oriContent" style="resize:none" autofocus></textarea>
            </div>

            <!--<div class="col-6 pt-4 " id="result" tyle="overflow-y: auto">-->
 <pre class="line-numbers"><code class="language-php language-css">
            <?php
            echo "Hello World!";
            ?>
            </code>
            </pre>
            <!--</div>-->


        </div>
    </div>

</main>

<!--链接model-->
<div class="modal fade linkModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">链接</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="input-1">请输入链接地址</label>
                <input type="text" class="form-control" id="linkInput" placeholder="http://example.com/">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="setLinkModelBtn">确认</button>
        </div>
        </div>
    </div>
</div>
<!--图片model-->
<div class="modal fade imageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">图片</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="input-1">请输入图片地址</label>
                    <input type="text" class="form-control" id="" placeholder="http://example.com/demo.jpg">
                </div>
                <div class="form-group">
                    <button  class="btn btn-success">上传图片</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="web/shareHtml/shareFoot"></div>
<script src="/showdown/dist/showdown.js"></script>
<script src="/web/js/author/markdownEdit.js"></script>
<script src="/assets/prism/prism.js"></script>
</body>
</html>