<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<div th:replace="web/shareHtml/shareHead"></div>
	<title>登录</title>
</head>
<body class="bg-dark">
<!-- Start wrapper-->
<div id="wrapper">
	<div class="card card-authentication1 mx-auto my-5">
		<div class="card-body">
			<div class="card-content p-2">
				<div class="text-center">
					<img src="/assets/images/logo-icon.png" alt="logo icon">
				</div>
				<div class="card-title text-uppercase text-center py-3">登&nbsp;&nbsp;录</div>
				<form  d="form1" onsubmit="return false" action="##"o method="post" >
					<div class="form-group">
						<label for="username" class="">用户名</label>
						<div class="position-relative has-icon-right">
							<input type="text" id="username" name="username" class="form-control input-shadow" placeholder="请输入用户名"  />
							<div class="form-control-position">
								<i class="icon-user"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="pwd" class="">密码</label>
						<div class="position-relative has-icon-right">
							<input type="password" id="pwd" name="pwd" class="form-control input-shadow" placeholder="请输入密码" />
							<div class="form-control-position">
								<i class="icon-lock"></i>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-6">
							<div class="icheck-material-primary">
								<input type="checkbox" id="user-checkbox" checked="" />
								<label for="user-checkbox">记住我</label>
							</div>
						</div>
						<div class="form-group col-6 text-right">
							<a href="authentication-reset-password.html">重置密码</a>
						</div>
					</div>
					<input type="button"  onclick="login()" value="登录" class="btn btn-primary shadow-primary btn-block waves-effect waves-light">
				<!--	<button type="submit"onclick="login()" class="btn btn-primary shadow-primary btn-block waves-effect waves-light onclick="login()">登&nbsp;录</button>-->
					<!--<div class="text-center mt-3">Sign In With</div>

					<div class="form-row mt-4">
						<div class="form-group mb-0 col-6">
							<button type="button" class="btn btn-facebook shadow-facebook btn-block text-white"><i class="fa fa-facebook-square"></i> Facebook</button>
						</div>
						<div class="form-group mb-0 col-6 text-right">
							<button type="button" class="btn btn-twitter shadow-twitter btn-block text-white"><i class="fa fa-twitter-square"></i> Twitter</button>
						</div>
					</div>-->

				</form>
			</div>
		</div>
		<div class="card-footer text-center py-3">
			<p class="text-muted mb-0">没有帐号？<a href="/singup"> 点击注册</a></p>
		</div>
	</div>

	<!--Start Back To Top Button-->
	<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
	<!--End Back To Top Button-->
</div><!--wrapper-->

<div th:replace="web/shareHtml/shareFoot"></div>
<script src="/web/js/home.js"></script>
</body>
</html>