<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoueb.itworld.author.mapper.BlogArticleHotMapper">
    <resultMap id="BlogArticleHotROMap" type="com.shoueb.itworld.author.ro.BlogArticleHotRO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="author_id" jdbcType="BIGINT" property="authorId" />
        <result column="kh_name" jdbcType="VARCHAR" property="khName" />
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
        <result column="article_series" jdbcType="VARCHAR" property="articleSeries" />
        <result column="series_title" jdbcType="VARCHAR" property="seriesTitle" />
        <result column="article_type" jdbcType="VARCHAR" property="articleType" />
        <result column="language_type" jdbcType="VARCHAR" property="languageType" />
        <result column="article_mem" jdbcType="VARCHAR" property="articleMem" />
        <result column="content_url" jdbcType="VARCHAR" property="contentUrl" />
        <result column="img_url_min" jdbcType="VARCHAR" property="imgUrlMin" />
        <result column="img_url_max" jdbcType="VARCHAR" property="imgUrlMax" />
        <result column="content_keys" jdbcType="VARCHAR" property="contentKeys" />
        <result column="github_url" jdbcType="VARCHAR" property="githubUrl" />
        <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
        <result column="read_count" jdbcType="BIGINT" property="readCount" />
        <result column="practice_count" jdbcType="BIGINT" property="practiceCount" />
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
        <result column="show_position" jdbcType="VARCHAR" property="showPosition" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_by_id" jdbcType="BIGINT" property="createById" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by_id" jdbcType="BIGINT" property="updateById" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
    </resultMap>
    <sql id="query_where">
        <trim prefix="AND" prefixOverrides="AND |OR">
            <if test="showPosition != null and showPosition != ''"> and a.show_position = #{showPosition}</if>
            <if test="showHome != null and showHome != ''"> and  a.show_home = #{showHome}</if>
            <if test="editorRecommend != null and editorRecommend != ''"> and  a.editor_recommend = #{editorRecommend}</if>
            <if test="languageType != null and languageType != ''"> and  a.language_type = #{languageType}</if>
            <if test="articleType != null and articleType != ''"> and  a.article_type = #{articleType}</if>
        </trim>
    </sql>
    <!--首页推荐-->
    <select id="queryHomeRecommendArticle" parameterType="com.shoueb.itworld.author.model.BlogArticleHot"
    resultMap="BlogArticleHotROMap">
        select  a.id,a.uid,a.article_title,b.series_title
        from t_blog_article_hot a left join t_blog_series b  on  a.article_series_id=b.id
        where a.delete_flag='1'
        <include refid="query_where"></include>
    </select>
    <!-- 查询文章 -->
    <select id="queryHomeArticle" parameterType="com.shoueb.itworld.author.model.BlogArticleHot"
            resultMap="BlogArticleHotROMap">
        select a.id,a.uid,a.article_title,a.article_mem,a.img_url_min,a.github_url,a.comment_count,a.read_count,a.practice_count,
        b.series_title,c.kh_name
        from t_blog_article_hot a left join t_blog_series b  on  a.article_series_id=b.id
              left join t_author_user c on  a.author_id = c.id
        where a.delete_flag='1'
        <include refid="query_where"></include>
    </select>
    <!--编辑推荐-->
    <select id="queryEditorRecommendArticle" parameterType="com.shoueb.itworld.author.model.BlogArticleHot"
            resultMap="BlogArticleHotROMap">
        select  a.id,a.uid,a.article_title,b.series_title
        from t_blog_article_hot a left join t_blog_series b  on  a.article_series_id=b.id
        where a.delete_flag='1'
        <include refid="query_where"></include>
    </select>

    <select id="queryArticleById" parameterType="com.shoueb.itworld.author.model.BlogArticleHot"
            resultMap="BlogArticleHotROMap">
        select a.*,b.series_title,c.kh_name from t_blog_article_hot a left join t_blog_series b  on  a.article_series_id=b.id
        left join t_author_user c on  a.author_id = c.id
        where a.delete_flag='1' and a.id=#{id}
    </select>


</mapper>