<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoueb.itworld.author.mapper.BlogArticleCommentMapper">
    <resultMap id="BlogArticleCommentROMap" type="com.shoueb.itworld.author.ro.BlogArticleCommentRO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="author_id" jdbcType="BIGINT" property="authorId" />
        <result column="article_id" jdbcType="BIGINT" property="articleId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="create_by_id" jdbcType="BIGINT" property="createById" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by_id" jdbcType="BIGINT" property="updateById" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="kh_name" jdbcType="VARCHAR" property="khName" />
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    </resultMap>
<!--    <select id="queryAllCommentId" parameterType="com.shoueb.itworld.author.model.BlogArticleComment"
            resultMap="BlogArticleCommentROMap">
        select d.id from t_blog_article_comment d left join t_blog_article_hot a on a.id = d.article.id
        where d.delete_flag = 1 and a.id=#{id}
    </select>-->

    <select id="queryArticleCommentById" parameterType="Long"
            resultMap="BlogArticleCommentROMap">
          select d.* ,c.kh_name,c.img_url from t_blog_article_comment d left join t_blog_article_hot a on a.id = d.article_id
                                                               left join t_author_user c on c.id = d.author_id
        where d.delete_flag = 1 and d.article_id=#{id}
    </select>


</mapper>