<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<div th:replace="web/shareHtml/shareHead"></div>
	<title>系列</title>
</head>
<body>
<div th:replace="web/shareHtml/shareHeader"></div>
<div class="container-fluid mt-4">
	<div class="row m-0">
		<div class="col-9">
			<div class="cursor-pointer" >
				<span class="articleType p-2"><a th:href="@{'/series/?position=2&language='+${language}}" th:class="${showPosition=='2'}? 'text-danger' : ''">精选</a></span>
				<span class="articleType p-2 "><a th:href="@{'/series/?position=1&language='+${language}}" th:class="${showPosition=='1'}? 'text-danger' : ''">候选</a></span>
				<strong class="p-2 ml-5">语言：</strong>
				<span class="languageType p-2 "><a th:href="@{'/series/?position='+${showPosition}}" th:class="${language==''}? 'text-danger' : ''">全部</a></span>
				<span class="languageType p-2 "><a th:href="@{'/series/?position='+${showPosition}+'&language=java'}" th:class="${language=='java'}? 'text-danger' : ''">java</a></span>
				<span class="languageType p-2 "><a th:href="@{'/series/?position='+${showPosition}+'&language=.net'}" th:class="${language=='.net'}? 'text-danger' : ''">.net</a></span>
				<span class="languageType p-2 "><a th:href="@{'/series/?position='+${showPosition}+'&language=js'}" th:class="${language=='js'}? 'text-danger' : ''">js</a></span>
			</div>
			<div class="row mt-4">
				<ul class="list-group w-100" th:each="seriesRecommendArticle:${seriesRecommendArticleList}">
					<li class="list-group-item"><a th:href="@{'/details/?id='+${seriesRecommendArticle.id}}" > <span th:if="${seriesRecommendArticle.seriesTitle!=null}">[<span th:text="${seriesRecommendArticle.seriesTitle}"></span>]</span> <span th:text="${seriesRecommendArticle.articleTitle}">多种实现的依赖注入</span></a></li>
				</ul>
			</div>
			<div class="row mt-4">
				<ul class="list-unstyled" >
					<li class="media my-4" th:each="seriesArticle:${seriesArticleList}">
						<a th:href="@{'/details/?id='+${seriesArticle.id}}"><img class="mr-3 rounded h-120px" th:src="@{${seriesArticle.imgUrlMin}}" alt="user avatar"></a>
						<div class="media-body">
							<h5 class="mt-0 mb-1"><a th:href="@{'/details/?id='+${seriesArticle.id}}" ><span th:if="${seriesArticle.seriesTitle!=null}">[<span th:text="${seriesArticle.seriesTitle}"></span>]</span> <span th:text="${seriesArticle.articleTitle}"></span></a>
								<small class="float-right text-danger font-weight-normal mr-4">gitHub</small>
							</h5>
							<div class="h-66px ov-hidden">
								<span th:text="${seriesArticle.articleMem}">
							</div>

							<div class="mt-1">
								<a href="" th:text="${seriesArticle.khName}"></a>
								<a th:href="@{'/details/?id='+${seriesArticle.id}}">评论:<span th:text="${seriesArticle.commentCount}"></span></a>
								<a th:href="@{'/details/?id='+${seriesArticle.id}}">阅读:<span th:text="${seriesArticle.readCount}"></span></a>
								<a th:href="@{'/details/?id='+${seriesArticle.id}}">实践:<span  th:text="${seriesArticle.practiceCount}"></span></a>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<div class="row mt-4">
                <ul id="page" class="pagination pagination-separate" >

				</ul>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<div class="card-header text-white bg-dark">编辑推荐</div>
                <ul class="list-group" th:each="editorRecommendArticle:${editorRecommendArticleList}">
                    <li class="list-group-item">
                        <a th:href="@{'/details/?id='+${editorRecommendArticle.id}}" ><span th:if="${editorRecommendArticle.seriesTitle!=null}">
							[<span th:text="${editorRecommendArticle.seriesTitle}"></span>]</span><span th:text="${editorRecommendArticle.articleTitle}"></span></a>
                    </li>
				<!--<div class="card-footer">Card footer</div>-->
                </ul>
			</div>
		</div>
	</div>
</div>


<div th:replace="web/shareHtml/shareFoot"></div>
<script src="/web/js/home.js"></script>
<script>
    //1：从后端Controller把分页page信息传递到前端
    //2：设置分页的UL的ID为page
    //3：构建分页方法【注意判断page】
    //4：执行
    var page=[[${page}]];
    var language='[[${language}]]';
    var position='[[${showPosition}]]';
</script>
</body>
</html>