<header>
	<div class="container-fluid p-0 ">
		<div class="card bg-dark text-white h-80px ov-hidden mb-0">
			<!--<img class="card-img" src="/assets/images/gallery/21.jpg" alt="Card image">-->
			<img class="card-img position-absolute" src="/assets/images/aaaa.jpg" alt="Card image" style="top:-90px">
			<div class="card-img-overlay">
				<div class="row">
					<div class="col-10"></div>
					<div class="col-2 text-right mt-4">
						<a href="/weblogin" class="text-white">登录</a>
						<a href="/singup" class="text-white ml-2">注册</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row gradient-royal pt-2 pb-2 m-0">
			<div class="col-9">

				<ul class="nav nav-pills  nav-pills-info" role="tablist">
					<li class="nav-item ">
						<a class="nav-link active text-white" data-toggle="pill" href="http://www.baidu.com">
							<i class="icon-home"></i> <span class="hidden-xs">首页</span>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-white" data-toggle="pill" href="/article/2">
							<i class="icon-user"></i> <span class="hidden-xs">系列</span>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-white" data-toggle="pill" href="/">
							<i class="icon-user"></i> <span class="hidden-xs">解决方案</span>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-white" data-toggle="pill" href="/">
							<i class="icon-user"></i> <span class="hidden-xs">职言</span>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link text-white" data-toggle="pill" href="/">
							<i class="icon-user"></i> <span class="hidden-xs">优选开源</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-3 pr-4">
				<div class="input-group pt-1 pr-1">
					<input type="text" class="form-control" placeholder="搜索内容">
					<div class="input-group-append">
						<button class="btn btn-info" type="button"><i class="fa fa-search"></i>搜索</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>