
<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <!-- Start of Baidu Transcode -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-agent" content="format=html5;url=http://localhost/">
    <!-- End of Baidu Transcode -->

    <meta name="description"  content="简书是一个优质的创作社区，在这里，你可以任性地创作，一篇短文、一张照片、一首诗、一幅画……我们相信，每个人都是生活中的艺术家，有着无穷的创造力。">
    <meta name="keywords"  content="简书,简书官网,图文编辑软件,简书下载,图文创作,创作软件,原创社区,小说,散文,写作,阅读">

    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8" />
    <meta property="wb:webmaster" content="294ec9de89e7fadb" />
    <meta property="qc:admins" content="104102651453316562112116375" />
    <meta property="qc:admins" content="11635613706305617" />
    <meta property="qc:admins" content="1163561616621163056375" />
    <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4" />
    <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI" />
    <meta http-equiv="mobile-agent" content="format=html5; url=http://localhost/">

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="简书">



    <title>简书 - 创作你的创作</title>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="v3VfLrPQr9X+SUmHZgAAUKjddbI6X9LbKrPDwRPNWBZx51XWtzLNDuqHp5U8wKmfLfegaYT0NZZlx+WJX+IFNA==" />

    <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web-4d59548b691b7b5c11d8.css" />

    <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web/pages/home/index/entry-cfaf52c5b8c8596faac8.css" />

    <link href="//cdn2.jianshu.io/assets/favicons/favicon-e743bfb1821442341c3ab15bdbe804f7ad97676bd07a770ccc9483473aa76f06.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/57-a6f1f1ee62ace44f6dc2f6a08575abd3c3b163288881c78dd8d75247682a4b27.png" sizes="57x57" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/72-fb9834bcfce738fd7b9c5e31363e79443e09a81a8e931170b58bc815387c1562.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/76-49d88e539ff2489475d603994988d871219141ecaa0b1a7a9a1914f4fe3182d6.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/114-24252fe693524ed3a9d0905e49bff3cbd0228f25a320aa09053c2ebb4955de97.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/120-1bb7371f5e87f93ce780a5f1a05ff1b176828ee0d1d130e768575918a2e05834.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/152-bf209460fc1c17bfd3e2b84c8e758bc11ca3e570fd411c3bbd84149b97453b99.png" sizes="152x152" />

    <!-- Start of 访问统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0c0e9d9b1e7d617b3e6842e85b9fb068";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- End of 访问统计 -->
</head>

<!-- 只给10%的用户添加代码 -->
<!-- ###第四范式-智能推荐：代码直接复制 无需修改参数### -->
<!-- ###功能：上报内容并反馈用户行为### -->
<!--
-->
<body lang="zh-CN" class="reader-black-font">
<!-- 全局顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="width-limit">
        <!-- 左上方 Logo -->
        <a class="logo" href="/"><img src="//cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png" alt="Nav logo" /></a>

        <!-- 右上角 -->
        <!-- 未登录显示登录/注册/写文章 -->
        <a class="btn write-btn" target="_blank" href="/writer#/">
            <i class="iconfont ic-write"></i>写文章
        </a>      <a class="btn sign-up" id="sign_up" href="/sign_up">注册</a>
        <a class="btn log-in" id="sign_in" href="/sign_in">登录</a>

        <!-- 如果用户登录，显示下拉菜单 -->

        <div id="view-mode-ctrl">
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="tab active">
                        <a href="/">
                            <span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
                        </a>            </li>
                    <li class="tab ">
                        <a id="web-nav-app-download-btn" class="app-download-btn" href="/apps?utm_medium=desktop&amp;utm_source=navbar-apps"><span class="menu-text">下载App</span><i class="iconfont ic-navigation-download menu-icon"></i></a>
                    </li>
                    <li class="search">
                        <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input" />
                            <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
                        </form>          </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="container index">
    <div class="row">
        <div class="col-xs-16 main">
            <!-- Banner -->
            <div id="indexCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="banner" data-banner-name="简书钻增发9万">
                            <a target="_blank" href="https://www.jianshu.com/p/de82029a4128?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4593/fa5490809ff3344c5aa72312aa1e05921be77222.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="banner" data-banner-name="婠婠水彩课">
                            <a target="_blank" href="https://www.jianshu.com/p/174f2864874c?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4591/30f6c3d080ff9d9610d745bd777b1c0ebba3e183.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="banner" data-banner-name="小管家日报">
                            <a target="_blank" href="https://www.jianshu.com/p/b89d9426ed59?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4592/cf654520e7f42e40995f6b1fade64846e0b1fb6a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="banner" data-banner-name="月度会员上线">
                            <a target="_blank" href="https://www.jianshu.com/mobile/club?ref=webbanner?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4588/c9d175a9865206d371742d53c41ed4a042c5d00b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="banner" data-banner-name="简书贝开通连载">
                            <a target="_blank" href="https://www.jianshu.com/p/a584b70ea422?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4589/bd702bcdffe78c631522a3906e3440bd9b16a170.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="banner" data-banner-name="十个好故事">
                            <a target="_blank" href="https://www.jianshu.com/p/e7564ae736ee?utm_medium=index-banner&amp;utm_source=desktop"><img src="//upload.jianshu.io/admin_banners/web_images/4590/7f1edd154f90446a038d6ecd10bebf6e8929fbf5.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="540" /></a>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#indexCarousel" data-slide-to="0"
                        class="active"></li>
                    <li data-target="#indexCarousel" data-slide-to="1"
                        class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="2"
                        class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="3"
                        class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="4"
                        class=""></li>
                    <li data-target="#indexCarousel" data-slide-to="5"
                        class=""></li>
                </ol>
                <a class="left carousel-control" href="#indexCarousel" role="button" data-slide="prev"><i class="iconfont ic-previous-s"></i></a>
                <a class="right carousel-control" href="#indexCarousel" role="button" data-slide="next"><i class="iconfont ic-next-s"></i></a>
            </div>

            <!--
              <div class="recommend-collection">
                  <a class="collection" target="_blank" href="/c/cc7808b775b4?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/76/12.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">自然科普</div>
      </a>            <a class="collection" target="_blank" href="/c/1hjajt?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/21/20120316041115481.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">简书电影</div>
      </a>            <a class="collection" target="_blank" href="/c/8c92f845cd4d?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/283250/%E6%BC%AB%E7%94%BB%E4%B8%93%E9%A2%98.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">手绘</div>
      </a>            <a class="collection" target="_blank" href="/c/yD9GAd?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/4/sy_20091020135145113016.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">读书</div>
      </a>            <a class="collection" target="_blank" href="/c/fcd7a62be697?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/95/1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">故事</div>
      </a>            <a class="collection" target="_blank" href="/c/7b2be866f564?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/83/1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">摄影</div>
      </a>            <a class="collection" target="_blank" href="/c/V2CqjW?utm_medium=index-collections&amp;utm_source=desktop">
                    <img src="//upload.jianshu.io/collections/images/14/6249340_194140034135_2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
                    <div class="name">@IT·互联网</div>
      </a>
                  <a class="more-hot-collection" target="_blank" href="/recommendations/collections?utm_medium=index-collections&amp;utm_source=desktop">
                    更多热门专题 <i class="iconfont ic-link"></i>
      </a>        </div>
            -->
            <div class="split-line"></div>
            <div id="list-container">
                <!-- 文章列表模块 -->
                <ul class="note-list" infinite-scroll-url="/">

                    <li id="note-35232028" data-note-id="35232028" class="have-img">
                        <a class="wrap-img" href="/p/104fb8ffbc6e" target="_blank">
                            <img data-echo="//upload-images.jianshu.io/upload_images/2758463-d6032ad89e225ebd?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/2758463-d6032ad89e225ebd?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/120" alt="120" />
                        </a>
                        <div class="content">
                            <a class="title" target="_blank" href="/p/104fb8ffbc6e">这档真人秀，很优秀的放大了所有人的缺点</a>
                            <p class="abstract">
                                明星艺人如果不外出工作，待在家里的他们会干嘛呢？看了综艺《hi室友》以后，也许你就能窥探到不少明星艺人在生活中的真实状态。 节目设定在上海一幢洋...
                            </p>
                            <div class="meta">
                                <a class="nickname" target="_blank" href="/u/357022c295e8">萌叉叉大人</a>
                                <a target="_blank" href="/p/104fb8ffbc6e#comments">
                                    <i class="iconfont ic-list-comments"></i> 1
                                </a>      <span><i class="iconfont ic-list-like"></i> 19</span>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- 文章列表模块 -->
            </div>
        </div>
        <div class="col-xs-7 col-xs-offset-1 aside">
            <div class="board">
                <a target="_blank" href="/trending/weekly?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png" alt="Banner s 3" /></a>
                <a target="_blank" href="/trending/monthly?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png" alt="Banner s 4" /></a>
                <a utm_medium="index-banner-s" target="_blank" href="/mobile/books?category_id=284"><img src="//cdn2.jianshu.io/assets/web/banner-s-7-1a0222c91694a1f38e610be4bf9669be.png" alt="Banner s 7" /></a>
                <a utm_medium="index-banner-s" target="_blank" href="/publications"><img src="//cdn2.jianshu.io/assets/web/banner-s-5-4ba25cf5041931a0ed2062828b4064cb.png" alt="Banner s 5" /></a>
                <a target="_blank" href="/c/e048f1a72e3d?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-6-c4d6335bfd688f2ca1115b42b04c28a7.png" alt="Banner s 6" /></a>
            </div>

            <!-- 首页右侧 App 下载提示 -->
            <a id="index-aside-download-qrbox" class="col-xs-8 download" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="&lt;img src=&quot;//cdn2.jianshu.io/assets/web/download-index-side-qrcode-cb13fc9106a478795f8d10f9f632fccf.png&quot; alt=&quot;Download index side qrcode&quot; /&gt;" href="/apps?utm_medium=desktop&amp;utm_source=index-aside-click">
                <img class="qrcode" src="//cdn2.jianshu.io/assets/web/download-index-side-qrcode-cb13fc9106a478795f8d10f9f632fccf.png" alt="Download index side qrcode" />
                <div class="info">
                    <div class="title">下载简书手机App<i class="iconfont ic-link"></i></div>
                    <div class="description">随时随地发现和创作内容</div>
                </div>
            </a>
            <!-- 推荐作者 -->
            <div data-vcomp="recommended-author-list"></div>
        </div>
    </div>
</div>
<div data-vcomp="side-tool"></div>
<footer class="container">
    <div class="row">
        <div class="col-xs-17 main">







            <a target="_blank" href="http://www.jianshu.com/c/jppzD2">关于简书</a><em> · </em><a target="_blank" href="http://www.jianshu.com/contact">联系我们</a><em> · </em><a target="_blank" href="http://www.jianshu.com/c/bfeec2e13990">加入我们</a><em> · </em><a target="_blank" href="http://www.jianshu.com/p/fc1c113e5b6b">简书出版</a><em> · </em><a target="_blank" href="http://www.jianshu.com/press">品牌与徽标</a><em> · </em><a target="_blank" href="http://www.jianshu.com/faqs">帮助中心</a><em> · </em><a target="_blank" href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a>      <div class="icp">
            ©2012-2018 上海佰集信息科技有限公司 / 简书 / 沪ICP备11018329号-5 /
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402002252">
                <img src="//cdn2.jianshu.io/assets/web/smrz-557fa318122c99a66523209bf9753a27.png" alt="Smrz" />
            </a>        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402002252">沪公网安备31010402002252号 / </a>
            <a target="_blank" href="http://www.shjbzx.cn/">
                <img src="//cdn2.jianshu.io/assets/web/wxb-a216456895eb66c17497dbd3da443cf8.png" alt="Wxb" />
            </a>        举报电话：021-34770013 /
            <a target="_blank" href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020171107081457000002158769-SAIC_SHOW_310000-20171115131223587837&amp;signData=MEQCIADWZ5aTcBeER5SOVp0ly+ElvKnwtjczum6Gi6wZ7/wWAiB9MAPM22hp947ZaBobux5PDkd0lfqoCOkVV7zjCYME6g==">
                <img src="//cdn2.jianshu.io/assets/web/zggsrz-5695587dccf490ca3e651f4228f7479e.png" alt="Zggsrz" />
            </a>      </div>
        </div>
    </div>
</footer>

<script type="application/json" data-name="page-data">{"user_signed_in":false,"locale":"zh-CN","os":"other","read_mode":"day","read_font":"font2"}</script>

<script src="//cdn2.jianshu.io/assets/babel-polyfill-6cd2d6b53fe3184b71cc.js" crossorigin="anonymous"></script>
<script src="//cdn2.jianshu.io/assets/web-base-f88cc6bb2d0343338fca.js" crossorigin="anonymous"></script>
<script src="//cdn2.jianshu.io/assets/web-b7a2e4f9fd53c78e2137.js" crossorigin="anonymous"></script>

<script src="//cdn2.jianshu.io/assets/web/pages/home/index/entry-e88b782cc79269bd9792.js" crossorigin="anonymous"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

</body>
</html>
